@keyframes page { 100% { transform: rotateX(0deg) rotateY(0deg); }}
@keyframes page1 { 100% { transform: rotateX(363deg) rotateY(363deg); }}
@keyframes page2 { 100% { transform: rotateX(364deg) rotateY(543deg); }}
@keyframes page3 { 100% { transform: rotateX(363deg) rotateY(269deg); }}
@keyframes page4 { 100% { transform: rotateX(363deg) rotateY(450deg); }}
@keyframes page5 { 100% { transform: rotateX(273deg) rotateY(361deg); }}
@keyframes page6 { 100% { transform: rotateX(453deg) rotateY(0deg); }}

.page { animation-direction: alternate; }
.page1 { animation: page1; }
.page2 { animation: page2; }
.page3 { animation: page3; }
.page4 { animation: page4; }
.page5 { animation: page5; }
.page6 { animation: page6; }

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: none;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #f2f2f2;
}
body {
    padding-top: 2px;
    overflow: hidden;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    width: 100%;
    height: 500px;
    padding: 0px;
}

.container {
    width: 50%;
    position: relative;
    perspective: 1000px;
    margin: 100px auto;
    max-width: 600px;
    max-height: 600px;
}

#cube,
#cube figure {
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
}

#cube {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

#cube figure {
    position: relative;
    margin: 0;
    display: block;
    position: absolute;
    border: 1px solid #DEDEDE;
    background-size: cover;
}


.sterownik {
    border-radius: 50%;
    border: 5px solid #DEDEDE;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    right: 5%;
    bottom: 5%;
}
.wajcha {
    width: 10px;
    height: 10px;
    margin-left: -7px;
    margin-top: -7px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    top: 50%;
    border: 3px solid #ADADAD;
    left: 50%;
    cursos: pointer;
}

.content_holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.menu {
    margin: 150px 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
}

.page {
    display: block;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: #DEDEDE;
    opacity: 0.98;
}
.page span {
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 3px black;
}
.page img {
    max-width: 50%;
    width: 50%;
    height: auto;
}
.page p {
    float: right;
}